body {
 
    background-color: rgb(34, 34, 34);

}
#home{
    margin-left: 10%;

}
.addb{width: 35px;
    text-align: center;
}

.textstarters {
    width: 75px;
}

.title {
padding-bottom: 30px;
text-align: left;
font-size:larger;

}

.salads{
    width: 220px;
    font-style:normal;
    font-weight: bold;

}

.main{
    width: 220px;
    font-style:normal;
    font-weight: bold;

}

#menu {
    text-align: center;

}



.costbox{
    margin-left: 90%;
    font-weight: bold;
    text-align: center;

}

.textstarters{

    font-weight: bold;
    text-align: center;

}


.bill{
    font-weight: bold;

}

#j0{
    color: white;
    font-weight: bold;
    height:2%;
    width:100%;
    top: 0;
    position: fixed;
    background: rgb(2, 110, 60);

    
    

}

#j1{
    width: 80%;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 1px;

}

#j2,#j3,#j4{
    width: 80%;
    margin-right: 20%;
    margin-left: 10%;
    margin-bottom:45px ;

}

#j5{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom:45px ;

}

#j6{

    background: rgb(221, 221, 220);
    top: 0;
    width: 50%;
    margin-top: 15%;
    margin-left: 0%;
    position: fixed;
    

}

#h1p2{
    margin-top: 13%;
    top:0;
    position: fixed;

}

.column2{
    margin-left: 5%;
    margin-top: 0%;
    text-align: left;
}


.table{ 
    width:50%;
    margin-left: 0%;
    align-self: center;
    font-weight: bold;
    

}

#dtable { margin-left:5%;
        margin-right: 30%;
}




hr.solid {
    margin-right: 10%;
    border-top: 3px solid #bbb;
  }

  #copywright{
    bottom: 0 ;
    margin-left: 3%;
    color: blanchedalmond;
    text-align: center;

  }

  #copywright2{
    bottom: 0 ;
    margin-left: 30%;
    color: blanchedalmond;
    position: fixed;

  }

  #accounting{
   margin-left: 1%;

  }

  #calculate{
    margin-left: 38%;
    background: rgb(3, 155, 84);
    color: white;
 
   }

   .addb{
    
    background: rgb(3, 155, 84);
    color: white;
    font-weight: bold;
 
   }

   .hidden{
    display:none;

   }


   .tp2,#td2,#tr2{
    background: whitesmoke;
    font-weight: bold;
    border: 1px solid black;
   }

   #info2{
       
    margin-left: 0%;
    font-weight: normal;
}

#webtittle {
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    text-align: center;
    align-self: center;
}

#btn1{
    width: 100px;
    height: 62px;
    margin-left: 8%;
    background: rgb(2, 110, 60);
    border-color: rgb(2, 110, 60);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#btn2{
    width: 100px;
    height: 62px;
    background: rgb(2, 110, 60);
    border-color: rgb(2, 110, 60);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}